

.mfx-button {
    -fx-background-color: #004b88;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* on hover */
.mfx-button:hover {
    -fx-background-color: #006FCB;
}

Label{
    -fx-text-fill: black;
}

.orderLabel {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.whiteLabel {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-content-display: right;
}

.right-aligned-label {
    -fx-alignment: CENTER_RIGHT;
    -fx-text-alignment: RIGHT;
}

.ContextMenu{
    -fx-text-fill: black;

}

MFXTextField {
    -fx-border-color: #004b88;
    -fx-font-size: 16px;
}

MFXPasswordField {
    -fx-border-color: #004b88;
    -fx-font-size: 16px;
}

.table-view {
    -fx-border-color: #004b88;
}

.table-view .column-header-background {
    -fx-background-color: #004b88;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #004b88;
    -fx-border-color: #004b88;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

MFXComboBox {
    -fx-border-color: white;
    -fx-font-weight: bold;
    -fx-background-color: #004b88;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: #7fa8c5;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: #e3e3e3;
}

.mfx-combo-box .mfx-combo-box-cell:selected .label {
    -fx-text-fill: white;
}

ListView {
    -fx-font-size: 16px;
}

ListView:focused {
    -fx-border-color: #004b88;
}

ListView .list-cell:hover {
    -fx-background-color: #e3e3e3;
    -fx-text-fill: black;
}

ListView .list-cell:selected {
    -fx-background-color: #7fa8c5;
    -fx-text-fill: white;
}

ListView .list-cell:selected:hover {
    -fx-background-color: #e3e3e3;
    -fx-text-fill: black;
}

.mfx-checkbox .mfx-ripple-generator {
    -mfx-ripple-color: #004b88;
}

.mfx-checkbox:selected .box {
    -fx-background-color: #004b88;
    -fx-border-color: #004b88;
}

.mfx-radio-button .mfx-ripple-generator {
    -mfx-ripple-color: #004b88;
}
