

.mfx-button {
    -fx-background-color: #004b88;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* on hover */
.mfx-button:hover {
    -fx-background-color: #006FCB;
}

Label{
    -fx-text-fill: black;
}

.whiteLabel {
    -fx-text-fill: white;
}

.ContextMenu{
    -fx-text-fill: black;

}

MFXTextField {
    -fx-border-color: #004b88;
}

MFXPasswordField {
    -fx-border-color: #004b88;
}

.table-view {
    -fx-border-color: #004b88;
}

.table-view .column-header-background {
    -fx-background-color: #004b88;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #004b88;
    -fx-border-color: #004b88;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

MFXComboBox {
    -fx-border-color: #004b88;
}

.mfx-combo-box:focused .arrow-button .mfx-font-icon {
    -fx-fill: #004b88 !important;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: #7fa8c5;
    -fx-text-fill: white;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: #e3e3e3;
}

